<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>보도자료</title>
</head>
<body>
<h2>보도자료</h2>
<form action="/bodosearch" method="get">
  <select name="searchType">
    <option value="">전체</option>
    <option value="title">제목</option>
  </select>
  <div class="search">
    <label>
      <input name="keyword" type="text" placeholder="검색어를 입력하세요">
    </label>
    <button>검색</button>
  </div>
</form>
<div>
  <ul>
    <li th:each="bodo : ${bodoList}">
      <a th:href="'/bododetail/' + ${bodo.prreSno}">
        <img th:src="${bodo.imgUrl}" alt="이미지">
        <h3 th:text="${bodo.title}"></h3>
        <p th:text="${bodo.subtitle}"></p>
        <p th:text="${#dates.format(bodo.creatDt, 'yyyy-MM-dd')}"></p>
      </a>
    </li>
  </ul>
</div>
</body>
</html>