<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
<form action="/search" method="get">
  <select name="searchType">
    <option value="">전체</option>
    <option value="title">제목</option>
  </select>
  <div class="search">
    <label>
      <input name="keyword" type="text" placeholder="검색어를 입력하세요">
    </label>
    <button>검색</button>
  </div>
</form>

    <table>
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회수</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="notice : ${noticeList}">
        <td>
          <span th:text="${notice.noticeSno}"></span>
        </td>
        <td>
          <a th:href="@{'/detail/' + ${notice.noticeSno}}">
            <span th:text="${notice.title}"></span>
          </a>
        </td>
        <td>
          <span th:text="${notice.creatUser}"></span>
        </td>
        <td>
          <span th:text="${#temporals.format(notice.creatDt, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
        <td>
          <span th:text="${notice.expsrCnt}"></span>
        </td>
      </tr>
      </tbody>
    </table>
<div>
  <span th:each="pageNum : ${pageList}" th:inline="text">
    <a th:href="@{'/notice?page=' + ${pageNum}}">[[${pageNum}]]</a>
  </span>
</div>
<div>
  <a href="/">홈</a>
  <a href="/bodotext">보도자료</a>
  <a href="/">홍보영상</a>
</div>
</body>
</html>